.card-view {
  display: "flex";
  align-items: center;
  justify-content: center;
  height: "100vh";
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.card-img {
  height: 200px;
  width: 100px;
  border-radius: 400/2;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
} */

/* tbody {
  overflow: scroll;
}

thead{
  display: block;
} */


/* td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
} */

.add-video-cat-card {
  margin-left: 150px;
}
.add-cat-btn{
  margin-left: 150px;
}
.card-videocat{
  margin: 10px;
}